---
interface Props{
    icon: string;
}

const {cookies} = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const {icon} = Astro.props;

// TODO: change the links depending of the type of user
---

<header class="w-full  mx-auto px-8 pt-4 sticky flex justify-center ">
    <div class="w-full max-w-screen-xl relative">
        {
            accessToken && refreshToken ? 
            <div class="flex justify-between items-center relative z-40">
                
                <a href="/">
                    <img src={"/"+icon} class
                    ="h-14 w-14" alt="Logo" />
                </a>
                <img src="/nav.svg" class="h-9 w-9 cursor-pointer" alt="Menu" id="toggler" />
                
            </div>
            <nav class="flex flex-col items-end absolute right-0 top-14 w-full max-w-screen-xl m-auto py-4 px-4 transition-all opacity-0 bg-white-smoke border-b-2 border-black after:absolute -translate-y-4">
                    <a href="/dashboard" class="text-gray-700 hover:border-black transition-colors border-b-2 ">Dashboard</a>
                    <a href="/api/auth/signout" class="ml-4 text-gray-700 hover:border-black transition-colors border-b-2">Logout</a>
            </nav>
            :
            <div class="pt-20 flex justify-center items-center z-50">
                <a href="/">
                    <img src={"/"+icon} class="h-24 w-24" alt="Logo" />
                </a>
            </div>
        }
    </div>
    
    
</header>

<script>
    const toggler = document.getElementById("toggler");
    const header = document.querySelector("header");
    toggler?.addEventListener("click", onToggleMenu);

    function onToggleMenu() {
        toggler?.getAttribute("src") === "/nav.svg" ? 
            toggler.setAttribute('src', "/cross.svg") 
            : 
            toggler?.setAttribute("src","/nav.svg");
        const nav = document.querySelector("nav");
        nav?.classList.toggle("opacity-100");
        nav?.classList.toggle("-translate-y-4");
        nav?.classList.toggle("z-30");
        nav?.classList.toggle("after:z-30");
        header?.classList.toggle("z-50");

    }
</script>

<style>
    a{
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }
</style>