---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.tsx';
import ButtonInput from '../components/ButtonInput.tsx';
---

<Layout title="KingRifa">
	<div class="h-full overflow-auto">
		<div class=" h-full w-full flex flex-col justify-center items-center gap-4 ">
			<a class=" relative w-fit h-fit z-10 " href="/rifa/crear">
				<Button type='button' text='CREAR RIFA' extraClass=' rounded-sm drop-shadow-sm drop-shadow-none'></Button>
            </a>
			<p class=" text-center text-silver">o</p>
			<ButtonInput client:load/>
		</div>
		
	</div>
</Layout>

<script>

</script>
