---
import Layout from "../layouts/Layout.astro";
import EditPerfil from "../components/EditPerfil";

---

<Layout title="KingRifa">
    <div class="flex flex-col items-center justify-center h-full">
        <EditPerfil client:load/>
    </div>
</Layout>
