---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.tsx';
import Input from '../components/Input';

const { cookies, redirect } = Astro;

const accessToken = cookies.get("access-token");
//const refreshToken = cookies.get("sb-refresh-token");

if (accessToken) {
  return redirect("/dashboard");
}

const serverURL = import.meta.env.API;
---

<Layout title="KingRifa">
	<div class="h-full">
        <form action={serverURL+"api-auth/register/"} id="form" class="h-full">
            <div class=" h-full w-full flex  justify-center items-center ">
                <div class="flex flex-col gap-8 max-w-80">
                    <div class="flex flex-col gap-4 items-center">
                        <!--<Input name='username' placeholder='Nombre de usuario' extraClass='rounded-md'/>-->
                        <Input name='email' placeholder='Correo electrónico' type='email' extraClass='rounded-md' isRequiered/>
                        <Input name='username' placeholder='Nombre de usuario' extraClass='rounded-md' isRequiered/>
                        <Input name='password' placeholder='Contraseña' type='password' extraClass='rounded-md' isRequiered/>
                        <Input name='passwordConfirmation' placeholder='Confirmar contraseña' type='password' extraClass='rounded-md' isRequiered/>
                    </div>
                    <div class="flex flex-col gap-1 items-center">
                        <div class="flex justify-start items-center gap-4 mx-4" >
                            <input type="checkbox" required id="politicas"/>
                            <label>Acepto los <a href="" class="text-input-texto">Términos y condiciones</a></label>
                        </div>
                        <p class="hidden text-input-texto text-justify text-xs" id="error"></p>
                        <p>Ya tiene una cuenta: <a href="login" class=" text-input-texto">Inicia sesion</a></p>
                        <Button type='submit' text='REGISTRARSE' extraClass='rounded-sm'>
                    </div>
                </div>
                
            </div>
        </form>
	</div>
</Layout>

<script>
import { mustAcceptPoliticas } from "@/lib/functions";

const handleError = async (err: any) => {
    const error = document.getElementById('error');
    // if error 500
    if (err.status === 500) {
        if(error)
        {
            error.innerText = 'La contraseña debe tener mayusculas, minusculas, numeros y caracteres especiales (@$!%*?&)';
            error.classList.remove('hidden');
        }
    }
    if (err.status === 400 ) {
        const text = await err.text();
        if(error)
        {
            error.innerText = text;
            error.classList.remove('hidden');
        }
    }
}

const handleResponse = (res: any) => {
    if (res.status === 201) {
        window.location.href = '/login';
    }
}

const politicas = document.getElementById('politicas');
const form = document.querySelector('form');
form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    if (mustAcceptPoliticas(politicas)) {
        const formData = new FormData(form);
        // send form data
        const res = await fetch(form.action, {
            method: 'POST',
            body: formData
        });
        if (res.status === 201) {
            handleResponse(res);
        }
        else {
            handleError(res);
        }
    }
});
</script>