---
interface Props {
	title: string;
}
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/icon.jpg" />
		<title>{title}</title>
	</head>
	<body class=" h-screen">
		<Header icon='icon.jpg'/>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: whitesmoke;
	}
</style>
